.form-head {
    margin-top: 18px;
    margin-bottom: 12px;
    border-bottom: 1px solid grey;
}

.braek-text {
    white-space: normal;
}
.update-btn {
    margin-top: 16px;
    margin-bottom: 18px;
}
.close-icon{
    float: right;
    display: inline;
    cursor: pointer;
}
.close-btn {
    display: inline;
    margin-top: 16px;
    margin-left: 18px;
    margin-bottom: 18px;
}
.prod-image {
    margin: auto;
    padding: 18px;
}